.button_stop {
  display: flex;
  width: 80px;
  height: 40px;
  background-image: url("../../../images/metalic-lite.jpg");
  border: 1px solid #545555;
  border-radius: 35%;
  justify-content: center;
  align-items: center;
  transform: translateY(-30px);
}
