/* .arrow-minut {
  display: flex;
  position: absolute;
 
  box-sizing: border-box;
  
  margin-top: 40px;
}

.arrow-second {
  display: flex;
  position: absolute;
  height: 140px;
  width: 3px;
  background-color: hsl(0, 88%, 51%);
  margin-top: 30px;
} */

.container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 200px;
  width: 5px;
  flex-direction: column;
}
.container_second {
  width: 2px;
}

.container_minute {
  width: 5px;
}

.block {
  height: 50%;
  width: 100%;
  background-color: rgb(255, 60, 0);
  border-radius: 5px;
}
.block_second {
  height: 43%;
}
.block_minute {
  height: 35%;
  background-color: black;
}

.invisible-block {
  visibility: hidden;
  height: 50%;
  width: 100%;
  background-color: blue;
}
