.container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 200px;
  width: 5px;
  flex-direction: column;
  position: absolute;
}

.container_minute {
  width: 5px;
}

.container_second {
  width: 2px;
}

.block {
  height: 50%;
  width: 100%;
  background-color: rgb(255, 60, 0);
  border-radius: 5px;
}

.block_minute {
  height: 35%;
  background-color: black;
}

.block_second {
  height: 43%;
}

.invisible-block {
  visibility: hidden;
  height: 50%;
  width: 100%;
  background-color: blue;
}
