.clock_button-control {
  display: flex;
  width: 600px;
  height: 80px;
  justify-content: space-between;
  padding: 0 90px;
  box-sizing: border-box;
  z-index: 1;
}

.clock {
  display: flex;
  background-image: url("../../images/wood.jpg");
  width: 600px;
  height: 300px;
  border: 3px solid #573d25;
  border-radius: 25px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
}
.winner {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 50px;
}

.clock_main {
  display: flex;
  width: 600px;
  height: 210px;
  justify-content: space-around;
  padding-top: 20px;
}

.clock_button {
  display: flex;
  width: 300px;
  height: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-30px);
}

.clock_button-timer {
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 35px;
}
