.background {
  display: flex;
  border: 5px solid #0e0e0e;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  justify-content: center;
}

.whyte {
  background-color: #ebebeb;
}

.black {
  background-color: #504f4f;
}
