.button_timer {
  display: flex;
  width: 60px;
  height: 30px;
  background-image: url("../../../images/metalic.jpg");
  border: 1px solid #303030;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button_timer__active {
  background-image: url("../../../images/metalic-lite.jpg");
}
